body {
    margin: 0;
    background: #000;
    font-family: Arial, sans-serif;
    color: #00CC00;
}

#login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-box {
    width: 350px;
    background: #001900;
    border: 2px solid #006600;
    box-shadow: 0 0 10px #00CC00;
    padding: 20px;
    border-radius: 6px;
}

#tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
    border-bottom: 2px solid #003300;
    color: #00CC00;
}

.tab.active {
    color: #33FF33;
    border-bottom: 2px solid #00CC00;
}

#login-box input {
    width: 100%;
    background: #000;
    border: 1px solid #006600;
    color: #00FF00;
    padding: 8px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 8px;
    background: #00CC00;
    color: #000;
    border: none;
    cursor: pointer;
    font-weight:bold;
}

#btn-login:hover, #btn-register:hover {
    background: #33FF33;
}

#error-box {
    background: #330000;
    border: 1px solid #990000;
    padding: 6px;
    color: #FF6666;
    display:none;
    margin-bottom: 10px;
}
